@model ProgramacionWeb3.WebApp.Models.PaqueteViewModel
@{
    ViewBag.Title = Model.Nombre;
}

<div class="container">
    <div class="card">
        <img class="card-img-top card-detail-max" src="@Model.Foto" alt="@Model.Nombre">
        <div class="card-body">
            <h4 class="card-title">@Model.Nombre</h4>
            <p class="card-text">

                @Model.Descripcion
            </p>
            <p class="card-text">
                <small class="text-muted">Inicio : @Model.FechaInicio.ToShortDateString() / Fin: @Model.FechaFin.ToShortDateString()</small>
            </p>
            @Html.ActionLink("Reservar", "Reservar", "Paquete", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
