@using ProgramacionWeb3.WebApp.Extensions
@model ProgramacionWeb3.WebApp.Models.ListadoReservasViewModel
@{
    ViewBag.Title = "Historial Reserva";
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/HistorialReservaScript.js")">
    </script>
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="row deck-margin">
        <div class="col">
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Cantidad pasajeros</th>
                        <th>Precio</th>
                        <th>Precio Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reserva in Model.List)
                    {
                        <tr>
                            <td>@reserva.Id</td>
                            <td>@reserva.PaqueteViewModel.Nombre</td>
                            <td>@reserva.PaqueteViewModel.FechaInicio.ToShortDateString()</td>
                            <td>@reserva.PaqueteViewModel.FechaFin.ToShortDateString()</td>
                            <td>@reserva.CantPersonas</td>
                            <td>@($"${reserva.PaqueteViewModel.PrecioPorPersona}")</td>
                            <td>@($"${reserva.CantPersonas * reserva.PaqueteViewModel.PrecioPorPersona  }")</td>
                            <td><button type="button" class="btn btn-danger delete" idReserva="@(reserva.Id)">Cancelar reserva</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        @Html.Pager(Model, "HistorialReserva", "Paquete")
        
        <div class="col-2 text-left">
            <label class="text-primary lead">Mostrando</label>
        </div>
        <div class="col-1">
            @Html.DropDownListFor(m => m.PageSize, new SelectList(Model.AvaiableSizes, Model.PageSize), new {@class = "form-control", @id = "ddPageSize",url= $"{Url.Action("HistorialReserva","Paquete")}/{Model.CurrentPage}/" })
        </div>
        <div class="col-2">
            <label class="text-primary lead">Items de: <strong>@Model.TotalItems</strong></label>
        </div>
    </div>
</div>

