@model ProgramacionWeb3.WebApp.Models.ListadoPaquetesViewModel
@{
    ViewBag.Title = "Home Page";
    var counter = 0;
}
<div class="container">
    @if (Model.List.Any())
    {

        for (var x = 0; x <= Model.List.Count / 4; x++)
            {
                <div class="card-deck deck-margin">
                    @for (var i = 0; i < 4; i++)
                    {

                        if (counter < Model.List.Count)
                        {
                            {
                                var paquete = Model.List[counter];

                                counter++;

                                <div class="card">
                                    <img class="card-img-top card-image-resize" src="@paquete.Foto" alt="@paquete.Nombre">
                                    <div class="card-body">
                                        <h4 class="card-title">@Html.ActionLink(paquete.Nombre, "Detalle", "Paquete", new { id = paquete.Id }, new { @class = "text-dark" })</h4>
                                        <p class="card-text">@paquete.Descripcion</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Inicio @paquete.FechaFin.ToShortDateString() - Fin @paquete.FechaFin.ToShortDateString()</small>
                                    </div>
                                </div>
                            }
                        }


                    }
                </div>
            }
        @*<div class="card-deck">
            @foreach (var paquete in Model.Paquetes)
            {
                <div class="card">
                    <img class="card-img-top card-image-resize" src="@paquete.Foto" alt="@paquete.Nombre">
                    <div class="card-body">
                        <h4 class="card-title">@Html.ActionLink(paquete.Nombre, "Detalle", "Paquete", new { id = paquete.Id }, new { @class = "text-dark" })</h4>
                        <p class="card-text">@paquete.Descripcion</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Inicio @paquete.FechaFin.ToShortDateString() - Fin @paquete.FechaFin.ToShortDateString()</small>
                    </div>
                </div>

            }
        </div>*@


    }
    else
    {
        <div class="alert alert-info" role="alert">
            No hay paquetes para mostrar
        </div>
    }
</div>