@model ProgramacionWeb3.WebApp.Models.HomePaquetesViewModel
@{
    ViewBag.Title = "Home Page";
}
@if (Model.Paquetes.Any())
{
    <div class="container">
        <div class="card-deck">



            @foreach (var paquete in Model.Paquetes)
            {
                
                    
                    <div class="card">
                        <img class="card-img-top card-image-resize" src="@paquete.Foto" alt="@paquete.Nombre">
                        <div class="card-body">
                            <h4 class="card-title">@Html.ActionLink(paquete.Nombre,"Detalle","Paquete",new {id = paquete.Id},null)</h4>
                            <p class="card-text">@paquete.Descripcion</p>
                            <p class="card-text"><small class="text-muted">@paquete.FechaFin.ToShortDateString() - @paquete.FechaFin.ToShortDateString()</small>
                            </p>
                        </div>
                    </div>
                
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        No hay paquetes para mostrar
    </div>
}
